.add-appointment .card-body {
  display: none;
}

.add-heading {
  cursor: pointer;
  background-color: rgba(38, 70, 83, 1);
  color: white;
}

.add-btn {
  background-color: rgba(38, 70, 83, 1);
  color: white;
}

.search-title {
  color: black;
}


@supports (grid-area: auto) {

  .appointment-list {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    max-width: 640px;

  }
  .appointment-card {
    display: grid;
    grid-template-columns: 20% 50% 30%;
    grid-template-rows: 1fr 1fr 2fr;
    margin: 1em;
    padding: 1em;
    width: 100%;
    max-width: 640px;
    color: black;
  }

  .appointment-card:hover,
  .appointment-card:active {
    cursor: pointer;
    background-color: rgba(38, 70, 83, 0.2);
  }

  .delete {
    display: flex;
    font-size: 20px;
    font-weight: bold;
    height: 40px;
    width: 40px;
    margin: 0 auto;
    margin-right: 50px;
  }

  .delete-x {
    font-size: 30px;
  }

  .pet-name {
    grid-column: 2/3;
    grid-row: 1;
  }

  .owner-name {
    grid-column: 2/3;
    grid-row: 2;
  }

  .notes {
    grid-column: 2/4;
    grid-row: 3;
  }

  .date {
    grid-column: 3/4;
  }

  @media screen and (min-width:991px){

    .appointment-list {
      display: flex;
      margin: 0 auto;
    }

  }
}
